/** CSS RESET **/
html, body, div, span,
h1, h2, h3, h4, h5, h6, p,
a, abbr, acronym, address,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup,
dl, dt, dd, ol, ul, li,
fieldset, form, label,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, details, footer, header,
menu, nav, section {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    box-sizing: border-box;
}
ol, ul {
    list-style: none;
}

/** CSS RESET END**/


body {
    background: url("../img/bg.png") repeat;
}

.wrapper {
    position: relative;
    width: 975px;
    margin: 60px auto;
    background-color: #fff;
    border: 1px solid #ebebeb;
    box-shadow: 0 5px 20px #666;
}

.wrapper:before {
    content: "";
    position: absolute;
    display: block;
    bottom: 2px;
    width: 975px;
    height: 5px;
    border-bottom: 1px solid #ebebeb;
    border-radius: 2px;
}

.wrapper:after {
    content: "";
    position: absolute;
    display: block;
    bottom: 4px;
    width: 975px;
    height: 5px;
    border-bottom: 1px solid #ebebeb;
    border-radius: 2px;
}

.clearfix:after {
    content: '';
    clear: both;
    display: table;
}

/** HEADER **/
.header {
    position: relative;
    width: 925px;
    margin: 30px 20px 0 30px;
}

.logo {
    float: left;
}

.logo-name {
    text-decoration: none;
    font: 40px "Oleo Script", sans-serif;
    line-height: 1em;
    color: #222;
}

.logo-subname {
    padding-left: 3px;
    margin-top: 2px;
    font: 11px Arial, sans-serif;
    color: #a5a5a5;
}


.menu {
    position: relative;
    float: right;
    margin-top: 18px;
    margin-right: 66px;
    z-index: 1;

}
.menu li {
    display: inline-block;
    margin-right: 50px;
}

.menu li a {
    text-decoration: none;
    font: 14px "Oxygen", serif;
    color: #666;

}

.menu li a:hover {
    color: #222;
}

.submenu {
    display: none;
    width: 165px;
    margin-left: -15px;
    margin-top: 5px;
    padding-top: 5px;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius: 2px;
    border: 1px solid #ddd;
    background-color: #fff;
}

.submenu li {
    display: block;
    width: 150px;
    margin: 0 5px 5px;
}

.submenu:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 166px;
    left: 20px;
    border: 5px solid transparent;
    border-top:  5px solid #e5e5e5;
}
.submenu:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 167px;
    left: 20px;
    border:  5px solid transparent;
    border-top:  5px solid #fff;
}

.submenu li a {
    position: relative;
    display: block;
    padding: 10px 0 10px 5px;
    font: 14px "Oxygen", sans-serif;
    color: #8c8c8c;
    border-top: 1px solid #ddd;
}


.submenu li a:hover {
    background-color: #f3f3f3;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius: 3px;
}

.submenu-item1-subtext {
    display: block;
    position: absolute;
    top: 25px;
    left: 6px;
    font: 10px Arial, sans-serif;
    color: #aaa;
}

li.submenu-item1 a {
    border-top: none;
}



.menu li:hover .submenu {
    position: absolute;
    display: block;
}

.cta-in-header a {
    position: absolute;
    bottom: 12px;
    left: 835px;
    width: 86px;
    padding: 4px 8px 7px;
    margin-right: 90px;
    background-color: #ffc451;
    color: #fff;
    font: 14px "Oxygen", serif;
    box-shadow: 0 1px 1px #eaeaea;
    text-decoration: none;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius: 4px;
}

.cta-in-header a:hover {
    background-color: #fab734;
}

/** PREVIEW **/

.preview {
    position: relative;
    width: 827px;
    margin: 63px auto;
}

.preview-image {
    position: relative;
}

.preview-image-container {
    width: 300px;
    height: 198px;
    padding: 4px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    box-shadow: 0 3px 6px #333;
}

.preview-image-slider-text {
    position: absolute;
    bottom: 10px;
    left: 50px;
    width: 200px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.6);
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

.preview-image-slider-text:after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    left: 205px;
    background: url("../img/slider_right.png");
    width: 30px;
    height: 46px;
}

.preview-image-slider-text:before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    right: 205px;
    background: url("../img/slider_left.png");
    width: 30px;
    height: 46px;
}

.preview-image-name {
    font:13px Arial, sans-serif;
    color: #fff;
}

.preview-image-price {
    color: #ffc14c;
    font: 11px Arial, sans-serif;
}

.preview-image-place {
    color: #676767;
    font: 11px Arial, sans-serif;
}

.preview-info {
    position: absolute;
    top: 0;
    right: 0;
    width: 450px;
    text-align: right;
}

.preview-info-name {
    font: 38px "Oxygen", sans-serif;
    color: #515151;
    margin-top: 12px;
    margin-bottom: 7px;
}

.preview-info-about {
    font: 14px "Oxygen", sans-serif;
    color: #666;
    margin-bottom: 20px;
}

.button {
    position: relative;
    float: right;
    width: 170px;
    height: 45px;
    background-color: #ffbe47;
    color: #fff;
    border: 1px solid #efb74c;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius: 2px;
    text-align: left;
    box-shadow: 0 1px 1px #eaeaea;
}

.button:after {
    content: '';
    display: block;
    position: absolute;
    right: 13px;
    top: 12px;
    background: url("../img/arrow-to-left.png") no-repeat;
    width: 12px;
    height: 19px;
}


.button:before {
    content: '';
    display: none;
    position: absolute;
    top: 12px;
    right:225px;
    background: url("../img/gift.png") no-repeat;
    width: 16px;
    height: 18px;
}

.button-text:after {
    content: '';
    display: block;
    position: absolute;
    left: 120px;
    top: 0;
    height: 34px;
    border: 1px solid #ffc75e;
}

.button:hover {
    cursor: pointer;
    background-color: #f8a441;
}

.button:hover .button-hover  {
    display: block;
}

.button:hover:before {
    display: block;
}


.button-text {
    position: absolute;
    margin: 5px;
    font: 17px "Oxygen", sans-serif;
}

.button-hover {
    display: none;
    position: absolute;
    top:0;
    left: -80px;
    width: 230px;
    padding: 60px 0 20px;
    text-transform: uppercase;
    font: 10px Arial, sans-serif;
    color: #afceb4;
}

.button-hover a {
    text-transform: uppercase;
    font: 10px Arial, sans-serif;
    color: #afceb4;
}

.button-hover a:hover {
    text-decoration: none;
    color: #ffad19;
}



.btn-video-quality {
    display: block;
    text-transform: uppercase;
    font: bold 10px Arial, sans-serif;
    color: #d28600;
    text-shadow: 0 0 1px #fff;
}



/** CONTENT **/
.content {
    position: relative;
    width: 932px;
    margin: 0 auto;
}


.content-header {
    border-top: 1px solid #e5e5e5;
    padding: 18px 0 12px 3px;
    font: 18px "Oxygen", sans-serif;
    color: #222;
}

.content-block {
    width: 300px;
    float: left;
    margin-right: 15px;
    overflow: hidden;
}
.block3 {
    margin-right: 0;
}
.content-image {
    position: relative;
    border: 1px solid #f1f1f1;
    background-color: #fff;
}

.content-image img{
    display: block;
    width: 295px;
    margin: 2px;
}

.content-image-hover {
    display: none;
    position: absolute;
    top: 2px;
    left: 2px;
    width: 295px;
    height: 140px;
    box-shadow: inset 0 0 150px rgba(0,0,0,0.7);
}

.download {
    display: block;
    position: absolute;
    top: 58px;
    left: 75px;
    background: url("../img/icons_sprite.png") -4px -13px no-repeat rgba(95,95,95, .5);
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.zoom {
    display: block;
    position: absolute;
    top: 48px;
    left: 120px;
    background: url("../img/icons_sprite.png") -80px -4px no-repeat rgba(95,95,95, .5);
    width: 56px;
    height: 56px;
    border-radius: 50%;
}

.look {
    display: block;
    position: absolute;
    top: 58px;
    left: 186px;
    background: url("../img/icons_sprite.png") -44px -13px no-repeat rgba(95,95,95, .5);
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.img-icon:hover {
    cursor: pointer;
    background-color: rgba(255,255,255, .3);
}

.content-image:hover .content-image-hover {
    display: block;
}

.content-image:hover + .content-image-description {
    margin-top: -5px;
    background: url("../img/text_bg_hover.png") center no-repeat;
}


.content-image-description {
    margin-top: -5px;
    background: url("../img/text_bg.png") center no-repeat;
}
.content-image-header {
    padding: 10px;
    font: 14px "Oxygen", sans-serif;
    color: #666;
}
.content-image-text {
    padding-left: 10px;
    padding-bottom: 15px;
    font: 11px Arial, sans-serif;
    color: #999;
}
.content-description {
    padding: 10px;
    font: 12px Arial, sans-serif;
    text-align: justify;
    color: #666;
    word-spacing: 5px;
    line-height: 1.5em;
}



/** CONTENT_IN_LINE **/
.content-in-line {
    position: relative;
    width: 930px;
    margin: 0 auto 50px;
}

.content-in-line-header {
    margin: 2px 0 15px;
    font: 18px "Oxygen", sans-serif;
    color: #222;
}

.tabs-container {
    position: relative;
    border-radius: 5px;
    border: 1px solid #e5e5e5;
    background-color: #fff;
}

.tabs > div {
    position: relative;
}

.tab-header {
    width: 890px;
    font: 14px Arial, sans-serif;
    color: #333;
    margin: 21px 14px 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e5e5e5;
}

.tab-list {
    display: inline-block;
    width: 300px;
    margin-left: 14px;
}

li.tab-list_item {
    margin-left: 35px;
    padding-bottom: 3px;
}

li.tab-list_item a {
    text-decoration: none;
    font: 12px Arial, sans-serif;
    color: #333;
}

li.tab-list_item a:hover {
    color: #ffad19;
}

.emphasized {
    background: #ffe7b9;
    color: #c88b17;
}

li.tab-list_item:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 25px;
    margin-top: 3px;
    width: 7px;
    height: 10px;
    background: url(../img/arrow-to-left-for-list.png) center no-repeat;
}

.tab-visualpart {
    display: inline-block;
    width: 600px;
    vertical-align: top;
}

.tab-visualpart-img {
    display: inline-block;
    position: relative;
    width: 122px;
    height: 99px;
    padding: 2px 2px 0;
    background-color: #fff;
    border: 1px solid #f1f1f1;
}

.tab-visualpart-container {
    display: inline-block;
    width: 282px;
}

.tab-visualpart-container:first-child {
    margin-right: 20px;
}




.tab-visualpart-img-description  {
    float: right;
    width: 150px;
}

div.tab-visualpart-img-description p,h6 {
    font: 12px/18px Arial, sans-serif;
    color: #999;
}

div.tab-visualpart-img-description h6 {
    font-weight: bold;
    color: #666;
}


.tabs > div,
.tabs > input {
    display: none;
}

.tabs label {
    position: relative;
    display: inline-block;
    padding: 15px 10px;
    border-right: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    cursor: pointer;
    font: 14px Arial, sans-serif;
    color: #999;
    background-color: #fbfbfb;
}
.tabs input[type="radio"]:checked + label {
    border-bottom: 2px solid #fff;
    background-color: #fff;
    color: #666;
}

.tabs > input:nth-of-type(1):checked ~ div:nth-of-type(1),
.tabs > input:nth-of-type(2):checked ~ div:nth-of-type(2),
.tabs > input:nth-of-type(3):checked ~ div:nth-of-type(3) {
    display: block;
    padding: 5px;
}

.empty {
    position: absolute;
    right: 0;
    top:0;
    width: 638px;
    height: 46px;
    background-color: #fbfbfb;
    border-bottom: 1px solid #ececec;
}


/** FOOTER **/
.footer {
    position: relative;
    width: 930px;
    margin: 0 auto;
    border-top: 1px solid #e5e5e5;
}
.footer-subcontainer {
    float:left;
}
.footer h6 {
    text-transform: uppercase;
    font: bold 12px Arial, sans-serif;
    color: #ffad19;
    padding-top: 20px;
    padding-bottom: 5px;
}
.footer li {
    padding: 10px 0 7px;
    border-bottom: 1px solid #e5e5e5;
}
.footer li:last-child {
    border-bottom: none;
}

.footer li a {
    font: 12px Arial, sans-serif;
    text-decoration: none;
    color: #666;
}
.footer li a:hover {
    color: #ffad19;
}

.latest-articles li {
    padding: 0;
    margin-left: 35px;
}

.latest-articles li:nth-child(odd) {
    padding-top: 10px;
    padding-bottom: 3px;
    border-bottom: none;
}
.latest-articles li:nth-child(even) {
    padding-bottom: 28px;
    font: 11px Arial, sans-serif;
    color: #aaa;
}
.latest-articles li:nth-child(4) {
    padding-bottom: 15px;
}
.latest-articles li:nth-child(odd):before {
    content: ' ';
    display: block;
    position: absolute;
    right: 448px;
    background: url("../img/articles.png") center no-repeat;
    width: 24px;
    height: 24px;
}

.single-menu-title {
    width: 175px;
    margin-right: 65px;
}
.cursus-venenatis-mollis {
    width: 175px;
    margin-right: 45px;
}
.latest-articles {
    width: 455px;
}
