/** CSS RESET **/
html, body, div, span,
h1, h2, h3, h4, h5, h6, p,
a, abbr, acronym, address,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup,
dl, dt, dd, ol, ul, li,
fieldset, form, label,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, details, footer, header,
menu, nav, section {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
ol, ul {
    list-style: none;
}

/** CSS RESET END**/


body {
    background-color: #f6f6f6;
}

.wrapper {
    width: 975px;
    margin: 60px auto;
    background-color: #fff;
    border: 1px solid #ebebeb;
    box-shadow: 0 5px 20px #666;
}

.clearfix:after {
    content: '';
    clear: both;
    display: table;
}

/** HEADER **/
.header {
    position: relative;
    width: 925px;
    margin: 30px 20px 0 30px;
}

.logo {
    float: left;
}

.logo-name {
    text-decoration: none;
    font: 40px "Oleo Script", sans-serif;
    line-height: 1em;
    color: #222;
}

.logo-subname {
    padding-left: 3px;
    margin-top: 2px;
    font: 11px Arial, sans-serif;
    color: #a5a5a5;
}


.menu {
    position: relative;
    float: right;
    margin-top: 15px;
    margin-right: 140px;

}
.menu li {
    display: inline-block;
    margin-left: 55px;
}

.menu li a {
    text-decoration: none;
    font: 14px Oxygen, serif;
    color: #666;

}

.menu li a:hover {
    color: #222;
}

.submenu {
    display: none;
    box-sizing: border-box;
    width: 165px;
    margin-left: -15px;
    margin-top: 5px;
    padding-top: 5px;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius: 2px;
    border: 1px solid #ddd;
}

.submenu li {
    display: block;
    margin: 0;
}

.submenu li a {
    position: relative;
    display: block;
    width: 135px;
    height: 40px;
    margin-left: 4px;
    padding: 10px;
    font: 14px Oxygen, sans-serif;
    color: #8c8c8c;
    border-bottom: 1px solid #e3e3e3;
    line-height: 3em;
}



.submenu li a:hover {
    background-color: #f3f3f3;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius: 5px;
}

.submenu-subtext {
    margin-top: -10px;
    font: 10px Arial, sans-serif;
    color: #aaa;

}

.menu li:hover .submenu {
    position: absolute;
    display: block;
}

.cta-in-header a {
    position: absolute;
    bottom: 15px;
    left: 820px;
    width: 75px;
    padding: 5px 10px 8px;
    margin-right: 90px;
    background-color: #ffc451;
    color: #fff;
    font: 14px Oxygen, serif;
    box-shadow: 0 1px 1px #eaeaea;
    text-decoration: none;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius: 4px;
}

.cta-in-header a:hover {
    background-color: #fab734;
}

/** PREVIEW **/

.preview {
    position: relative;
    top: 70px;
    width: 805px;
    margin: 0 auto;
}

.preview-image {
    position: relative;
}

.preview-image-container {
    width: 290px;
    height: 188px;
    padding: 4px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    box-shadow: 0 3px 6px #333;
}

.preview-image-slider-text {
    position: absolute;
    bottom: 10px;
    left: 45px;
    width: 200px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.6);
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

.preview-image-slider-text:after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    left: 214px;
    background: url("../img/slider_right.png");
    width: 30px;
    height: 46px;
}

.preview-image-slider-text:before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    right: 213px;
    background: url("../img/slider_left.png");
    width: 30px;
    height: 46px;
}

.preview-image-name {
    font:13px Arial, sans-serif;
    color: #fff;
}

.preview-image-price {
    color: #ffc14c;
    font: 11px Arial, sans-serif;
}

.preview-image-place {
    color: #676767;
    font: 11px Arial, sans-serif;
}

.preview-info {
    position: absolute;
    top: 0;
    right: 0;
    width: 450px;
    text-align: right;
}

.preview-info-name {
    font: bold 38px Oxygen, sans-serif;
    color: #515151;
    margin-top: 25px;
    margin-bottom: 8px;
}

.preview-info-about {
    font: 14px Oxygen, sans-serif;
    color: #666;
    margin-bottom: 20px;
}

.preview-info .button {
    position: relative;
    float: right;
    width: 170px;
    height: 45px;
    background-color: #ffbe47;
    color: #fff;
    border: 1px solid #efb74c;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius: 2px;
    text-align: left;
    box-shadow: 0 1px 1px #eaeaea;
}

.preview-info .button:after {
    content: '';
    display: block;
    position: absolute;
    right: 13px;
    top: 12px;
    background: url("../img/arrow-to-left.png") no-repeat;
    width: 12px;
    height: 19px;
}

.preview-info .button p:after {
    content: '';
    display: block;
    position: absolute;
    left: 120px;
    top: 0;
    height: 34px;
    border: 1px solid #ffc75e;
}

.preview-info .button:hover {
    cursor: pointer;
    background-color: #f8a441;
}

.preview-info .button p {
    position: absolute;
    margin: 5px;
    font: 17px Oxygen, sans-serif;
}

.btn-video-quality {
    display: block;
    text-transform: uppercase;
    font: bold 10px Arial, sans-serif;
    color: #d28600;
    text-shadow: 0 0 1px #fff;

}



/** CONTENT **/
.content {
    position: relative;
    top:125px;
    width: 930px;
    margin: 0 auto;
}


.content-header {
    margin: 20px 0;
    border-top: 1px solid #e5e5e5;
    padding-top: 25px;
    font: 18px Oxygen, sans-serif;
    color: #222;
}

.content-block {
    width: 302px;
    float: left;
    margin-right: 12px;
    overflow: hidden;
}
.block3 {
    margin-right: 0;
}
.content-image {
    border: 1px solid #f1f1f1;
    background-color: #fff;
}

.content-image img{
    display: block;
    width: 295px;
    margin: 2px;
}

.content-image-description {
    margin-top: -5px;
    background: url("../img/text_bg.png") center no-repeat;
}
.content-image-header {
    padding: 10px;
    font: 14px Oxygen, sans-serif;
    color: #666;
}
.content-image-text {
    padding-left: 10px;
    padding-bottom: 15px;
    font: 11px Arial, sans-serif;
    color: #999;
}
.content-description {
    padding: 10px;
    font: 12px Arial, sans-serif;
    text-align: justify;
    color: #666;
    word-spacing: 5px;
    line-height: 1.5em;
}



/** CONTENT_IN_LINE **/
.content-in-line {
    position: relative;
    top: 150px;
    width: 930px;
    height: 500px;
    margin: 0 auto;
}

.content-in-line-header {
    margin: 20px 0;
    font: 18px Oxygen, sans-serif;
    color: #222;
}

.tab-two-content,.tab-three-content {
    display: none;
}

.tabs-container {
    height: 250px;
    border-radius: 5px;
    border: 1px solid #e5e5e5;
    background-color: #fff;
}

li.tabs-item {
    display: inline-block;
    margin-left: -4px;
    background-color: #f5f5f5;
    border-right: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
}

li.tabs-item:first-child {
    margin-left: 0;
    background-color: #fff;
    border-bottom: 1px solid #fff;
}
li.tabs-item:last-child {
    width: 632px;
    border-right: none;
    color: #f5f5f5;
}


li.tabs-item > a {
    display: block;
    padding: 15px 11px;
    font: 14px Arial, sans-serif;
    color: #999;
    text-decoration: none;
}

li.tabs-item > a:first-child {
    border-bottom: none;
}


.tab-one-content {
    position: absolute;
    top: 110px;
}

.tab-header {
    width: 890px;
    font: 14px Arial, sans-serif;
    color: #333;
    margin: 10px 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e5e5e5;
}

li.tab-list_item {
    margin-left: 45px;
    padding-bottom: 3px;
}

li.tab-list_item a {
    text-decoration: none;
    font: 12px Arial, sans-serif;
    color: #333;
}

li.tab-list_item a:hover {
    color: #ffad19;
}

.emphasized {
    background: #ffe7b9;
    color: #c88b17;
}

li.tab-list_item:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 25px;
    margin-top: 3px;
    width: 7px;
    height: 10px;
    background: url(../img/arrow-to-left-for-list.png) center no-repeat;
}

.tab-visualpart {
    position: absolute;
    top:55px;
    left:335px;
    width: 625px;
}
.tab-visualpart-img {
    display: inline-block;
    position: relative;
    width: 116px;
    height: 95px;
    padding: 2px 2px 0;
    background-color: #fff;
    border: 1px solid #f1f1f1;
}

.tab-visualpart-container {
    display: inline-block;
    width: 282px;
    padding-right: 15px;
}


.tab-visualpart-img-description  {
    float: right;
    width: 155px;
}

div.tab-visualpart-img-description p,h6 {
    font: 12px/18px Arial, sans-serif;
    color: #999;
}

div.tab-visualpart-img-description h6 {
    font-weight: bold;
    color: #666;
}





/** FOOTER **/
.footer {
    position: relative;
    width: 930px;
    top: -25px;
    margin: 0 auto;
    border-top: 1px solid #e5e5e5;
}
.footer-subcontainer {
    float:left;
}
.footer h6 {
    text-transform: uppercase;
    font: bold 12px Arial, sans-serif;
    color: #ffad19;
    padding-top: 20px;
    padding-bottom: 5px;
}
.footer li {
    padding: 10px 0 7px;
    border-bottom: 1px solid #e5e5e5;
}
.footer li:last-child {
    border-bottom: none;
}

.footer li a {
    font: 12px Arial, sans-serif;
    text-decoration: none;
    color: #666;
}
.footer li a:hover {
    color: #ffad19;
}

.latest-articles li {
    padding: 0;
    margin-left: 35px;
}

.latest-articles li:nth-child(odd) {
    padding-top: 10px;
    padding-bottom: 3px;
    border-bottom: none;
}
.latest-articles li:nth-child(even) {
    padding-bottom: 28px;
    font: 11px Arial, sans-serif;
    color: #aaa;
}
.latest-articles li:nth-child(4) {
    padding-bottom: 15px;
}
.latest-articles li:nth-child(odd):before {
    content: ' ';
    display: block;
    position: absolute;
    right: 448px;
    background: url("../img/articles.png") center no-repeat;
    width: 24px;
    height: 24px;
}

.single-menu-title {
    width: 175px;
    margin-right: 65px;
}
.cursus-venenatis-mollis {
    width: 175px;
    margin-right: 45px;
}
.latest-articles {
    width: 455px;
}