nav {
    background-color: deepskyblue;
    text-align: center;
}

.top-menu {
    position: relative;
    width: 900px;
    display: inline-block;
    margin: 0;
    padding: 0;
    font-family: Economica, serif;
    font-size: 18px;
}

.top-menu li {
    display: inline-block;
}

li a {color: white;
}

.top-menu li a {
    display: block;
    text-decoration: none;
    padding: 5px 12px;
}

.top-menu li a:hover {
    background-color: lightgray;
    color: gray;

}

.top-menu li ul {
    position: absolute;
    display: none;
    text-align: center;
    width: 100%;
    top: 30px; right: 0; left:0;
    box-shadow: 0px 1px 0px gray;
    background-color: lightgray;
}

.top-menu li ul a {
    color: gray;
}

.top-menu li ul a:hover {
    text-decoration: underline;
}

li:hover ul {
    display: block;
}
