h1, h3 {
    text-transform: uppercase;
    text-align: center;
    font-size: 5em;
    font-family: cursive;
    color: purple;
    margin: 10px;
}

h3 {
    font-size: 2em;
}

img {
    display: block;
    margin: 0 auto;
}


.button:hover {
    background-color: #1143be;
    cursor: pointer;
}


a {
    text-underline: none;
    text-decoration: none;
}


.button {
    margin: 20px auto -10px;
    width: 300px;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5em;
    font-family: cursive;
    color: white;
    background-color: #51a3eb;
    padding: 3px 5px;
    border-radius: 5px;
    box-shadow: 1px 1px #cfc4d7;
}

.mobile_phone {
    background-color: #fff;
    color: lightslategray;
    text-align: center;
    font-size: 1.2em;
}

.name {
    margin-bottom: -20px;
}
