input[type="checkbox"] {
    display: none;
}

label {
    margin: 15px;
    text-decoration: underline;
}

label[for*=red] {color: red;}
label[for*=blue] {color: blue;}
label[for*=green] {color: green;}


span {
    color: white;
    border-radius: 10px;
    padding: 5px;
}

.red {background-color: red; }
.green {background-color: green;}
.blue {background-color: blue;}

span {
    color: white;
    border-radius: 10px;
    padding: 5px;
}

#red:checked ~ span[class="red"],
#green:checked ~ span[class="green"],
#blue:checked ~ span[class="blue"]
{
    display: none;
}


#red:checked ~ label[for="red"],
#green:checked ~ label[for="green"],
#blue:checked ~ label[for="blue"]
{
    opacity: 0.3;
}
