.red {
    background-color: red;
    
}

.green {
    background-color: green;

}

.blue {
    background-color: blue;

}

span {
    color: white;
    border-radius: 10px;
    padding: 5px;
}

label[red]:link {

}