ul {
    margin: 0;
    padding: 0;
}

.top-nav-block {
    background-color: #9933FF;
    height: 30px;
}

.top-menu {
    width: 900px;
    margin: auto;
    list-style-type: none;
    text-align: center;
}

.top-menu li {
    padding: 5px;
    font-family: Economica, serif;
    font-size: 18px;
    float: left;
    margin-left: -10px;
}

#more {
    float: right;
}

li a {
    text-decoration: none;
    color: white;
    padding: 5px 15px 4px 15px;
}

li a:hover {
    background-color:lightgrey;
    color: gray;
    padding: 5px 15px 4px 15px;
}

