@font-face{
    font-family: 'Futura bk';
    src:url(../fonts/futura_bk.woff);
}
@font-face {
    font-family: 'Futura bold';
    src: url(../fonts/futura_bold.ttf);
}



#wrapper {
    width: 100%;
    margin: 0;
    padding: 0;
}



/* ----- Header ----- */
.container {
    position: relative;
    width: 1020px;
    height: 90px;
    margin: 0 auto;
}

.logo {
    position: absolute;
    top: 35px;
    left: 0;
}

.top_menu {
    position: absolute;
    right: -15px;
    top: 30px;
}

.top_menu li {
    list-style: none;
    display: inline-block;
    padding: 0 0 35px 0;
}

.top_menu li:hover {
    border-bottom: 3px solid #3070a8;
    color: #3070a8;
    cursor: pointer;
}

.top_menu li a {
    text-decoration: none;
    text-transform: uppercase;
    font: 14px/14px "Open Sans", sans-serif;
    color: #c1c1c1;
    padding: 0 15px 35px 15px;
}

.top_menu li a:hover {
    color: #3070a8;
}



/* ----- Home ----- */
#home {
    position: relative;
    top:12px;
    margin: auto;
    width: 100%;
    height: 585px;

    background: url("../img/bg.jpg") no-repeat center;
    background-size: cover;
    text-align: center;
    color: #fff;
}

.container_home {
    position: relative;
    top: 155px;
    width: 925px;
    margin: 0 auto;
}

#home .intro_to_h1 {
    font: 36px/36px "Futura bk", serif;
    text-transform: none;
    margin: 0 auto -10px;
}

#home h1 {
    font: 48px/48px "Futura bold", serif;
    text-transform: uppercase;
    margin: 11px;
    line-height: 1.2em;
}


#home .after_h1 {
    font: italic 20px/20px Calibri, sans-serif;
    width: 575px;
    margin: 20px auto -5px;
}

#home .btn {
    margin-top: 45px;
    padding: 20px 60px;
    font: 16px/16px "Open Sans", sans-serif;
    background-color: transparent;
    color: #fff;
    text-transform: uppercase;
}

#home .btn:hover {
    border: 2px dashed;
    cursor: pointer;
}

/* ----- About ----- */
#about {
    width: 100%;
    height: 560px;
    text-align: center;
}

#about h2 {
    font: bold 30px/30px "Trebuchet MS, sans-serif";
    color: #41525c;
    text-transform: uppercase;
    padding-top: 50px;
}

.container_about {
    position: relative;
    top: 45px;
    width: 1020px;
    margin: 0 auto;
}


.container_about_item {
    float: left;
    width: 33%;
}

.container_about_image {

}

.container_about_text p {
    padding: 0 30px;
    font: 14px/28px "Open Sans", sans-serif;
    color: #a7a7a7;
    margin: 0;
}

.container_about_text p:first-child {
    text-transform: uppercase;
    font: 30px/30px "Futura bk",sans-serif;
    color: #4c83b4;
    margin: 25px 0 20px;

}

/* ----- Portfolio ----- */
#portfolio {
    width: 100%;
    height: 560px;
    background: url("../img/bg_portfolio.jpg") center no-repeat;
}

.container_portfolio {
    position: relative;
    top: 85px;
    left: 190px;
    width: 685px;
}

.container_portfolio h2 {
    text-transform: uppercase;
    color: #e07a28;
    font: 26px/42px "Futura bk", sans-serif;
}

.container_portfolio h3 {
    color: #fff;
    font: italic 19px/19px "Open Sans", sans-serif;
    margin-top: -10px;
    padding: 0 0 20px 0;
}

.container_portfolio li {
    color: #939393;
    font: 14px/28px "Open Sans", sans-serif;
}

.container_portfolio li:nth-child(even) {
    color: #2f6b9f;
    padding: 10px 0;
}




/* ----- Pricing ----- */
#offers {
    position: relative;
    width: 870px;
    height: 650px;
    margin: 0 auto;
}

.standart {
    float: left;
    width: 33%;
    border: 1px solid #e8eaec;
}
.standart h3 {
    background-color: #37c2d3;
    padding: 25px;
    border-top-left-radius: 5px;
}

.best_value {
    position: absolute;
    left: 286px; top: 120px;
    width: 34.2%;
    height: 470px;
    background-color: #ec8136;
    box-shadow: 0 0 10px 0 gray;
    z-index:1;
}
.best_value h3 {
    position: relative;
    padding: 30px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.best_value_inner {
    background-color: #fff;
    width: 288px;
    margin: 0 auto;
}

.best_value .button a {
    background-color: #ec8136;
    box-shadow: 0 2px 0 #b1561b;
    margin-bottom: 27px;
}
.best_value .button a:hover {
    background-color: #b1561b;
}

.ultimate {
    float: right;
    width: 33%;
    border: 1px solid #e8eaec;
}
.ultimate h3 {
    background-color: #1cb79a;
    padding: 25px;
    border-top-right-radius: 5px;
}




#offers h2, #offers h3, #offers h4, #offers p, .button {
    text-transform: uppercase;
    text-align: center;
    margin: 0;
}
#offers h2 {
    padding: 50px 0;
    color: #41525c;
    font: bold 30px/30px "Trebuchet MS", sans-serif;
}

#offers h3 {
    color: #fff;
    font: bold 24px/24px "Trebuchet MS", sans-serif;
}
#offers h4 {
    color: #3f4042;
    font: bold 24px/24px "Trebuchet MS", sans-serif;
    padding: 20px;
}
#offers p {
    color: #364959;
    font: bold 72px/72px "Trebuchet MS", sans-serif;
    padding-bottom: 25px;
}

.standart, .best_value, .ultimate {
    border-radius: 5px;
}

.standart p:before, .best_value p:before, .ultimate p:before {
    content: "$";
    font: bold 24px/24px "Trebuchet MS", sans-serif;
    vertical-align: top;
}
.standart p:after, .best_value p:after, .ultimate p:after {
    content: "Monthly";
    font: 18px/18px "Trebuchet MS", sans-serif;
    vertical-align: bottom;
    text-transform: capitalize;
}

#offers ul {
    list-style: none;
    width: 260px;
    padding: 0;
    margin: auto;
    font: 15px/15px "Trebuchet MS", sans-serif;
    color: #888c94;
}
#offers li {
    padding: 10px;
    border-bottom: 1px solid #fff;
}
#offers li:before {
    content: '';
    width: 15px;
    height: 15px;
    float: left;
    margin: 0 16px 0 22px;
    background: url('../img/list.png') 0 0;
}
#offers li:nth-child(even) {
    background-color: #f5f5f6;
}
#offers li:nth-child(odd) {
    background-color: #eef5fc;
}


.button a {
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 20px;
    padding: 10px;
    width: 240px;
    text-decoration: none;
    font: bold 14px/14px "Trebuchet MS", sans-serif;
    background-color:#3371a6;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 0 #16436a;
}
.button a:hover {
    cursor: pointer;
    background-color: #16436a;
}

/* ----- Testimonials ----- */

#testimonials {
    position: relative;
    width: 100%;
    height: 315px;
    background: url("../img/testimonials_bg.jpg") center no-repeat ;
}

.testimonial_container {
    position: relative;
    width: 1020px;
    margin: 0 auto;
}

#testimonials h2 {
    margin: 0 auto;
    padding: 60px 0 50px 0;
    text-align: center;
    text-transform: uppercase;
    color: #3170a8;
    font: 40px/40px "Trebuchet MS", sans-serif;
}

.word_decoration {
    color: #ee8129;
}


.testimonial {
    width: 500px;
}

.testimonial_photo {
    float: left;
    width: 100px;
    height: 100px;
}

.testimonial_text {
    float: right;
    width: 365px;
    color: white;
    background-color: #fff;
    margin: 0 10px 0 0;
}
.testimonial_text_header {
    position: relative;
    width: 330px;
    margin: 0 auto;
    border-bottom: 1px dashed #a0a0a0;
}

.testimonial_inner {
    color: #a0a0a0;
    width: 330px;
    margin: 11px auto;
}

.testimonial.first:before {
    content: '';
    position: absolute;
    left:110px; top:40px;
    width: 0;
    height: 0;
    border-right: 18px solid #fff;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
}

.testimonial.second {
    position: absolute;
    top: 0;
    right: -10px;
}

.testimonial.second:before {
    content: '';
    position: absolute;
    left:110px; top:40px;
    width: 0;
    height: 0;
    border-right: 18px solid #fff;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
}

.client_name, .client_type {
    color: #6594bd;
    font: italic 13px/13px "Trebuchet MS", sans-serif;
    border: 1px solid white;
    margin: 0;
    padding: 15px 0 10px 0;
}

.client_name {
    position: relative;
}
.client_type {
    position: absolute;
    top: 0; right:0;
}

/*----- Contact -----*/
.container_contact {
    position: relative;
    width: 100%;
    height: 345px;
    padding-top: 1px;
}

.container_contact_info {
    position: relative;
    top: 0;
    left: 0;
    width: 50%;
}

.container_contact_info ul {
    list-style: none;
    position: absolute;
    left: 160px;
    top: 45px;
}

.container_contact_info ul li{
    padding: 7px;
    font: 600 14px/14px "Open Sans", sans-serif;
    color: #666;
}



.container_contact_map {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    overflow: hidden;
    height: 345px;
}

.container_contact_info ul li:nth-child(4) {
    padding-bottom: 15px;
}
.container_contact_info ul li:nth-child(5) {
    padding-bottom: 12px;
}

.container_contact_info ul li:first-child:before {
    content: " ";
    background: url("../img/location_logo.jpg") no-repeat;
    position: absolute;
    top: 1px;
    left: -4px;
    padding: 20px;
}

.container_contact_info ul li:nth-child(5):before {
    content: " ";
    background: url("../img/phone_logo.jpg") no-repeat;
    position: absolute;
    top: 121px;
    left: 0;
    padding: 20px;
}

.container_contact_info ul li:last-child:before {
    content: " ";
    background: url("../img/email_logo.jpg") no-repeat;
    position: absolute;
    top: 160px;
    left: -2px;
    padding: 20px;
}





.container_footer {
    width: 100%;
    height: 100px;
    background-color: #3070a8;
    text-align: center;
    box-sizing: border-box;
    padding-top: 15px;
    position: relative;
    top: -2px;
}

.container_footer p {
    font: 14px/14px "Open Sans", sans-serif;
    color: #fff;
}

.website_name {
    color: #000;
}

.company_name, .website_name {
    font-weight: bold;
}














